/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

body {
  background-color: #02021e;
}

.nav-item {
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bg-oneblinq-roze {
  background-color: #efa9ae;
}

.border-color-oneblinq-roze {
  border-color: #efa9ae;
}

.btn-oneblinq-roze {
  background-color: #efa9ae;
  border-color: #efa9ae;
}

.btn-oneblinq-outline-roze {
  color: #efa9ae;
  background-color: transparent;
  border-color: #efa9ae;
}

.btn-oneblinq-outline-roze:hover {
  background-color: #efa9ae;
  color: black;
}

.btn-oneblinq-roze:hover {
  box-shadow: 0 0 0 0.2rem rgb(239 169 174 / 50%);
  background-color: #efa9ae;
  border-color: #efa9ae;
}

.btn-oneblinq-roze:active {
  background-color: #efa9ae !important;
  border-color: #efa9ae !important;
}

.btn-oneblinq-roze:focus {
  box-shadow: 0 0 0 0.2rem rgb(239 169 174 / 50%);
  background-color: #efa9ae;
  border-color: #efa9ae;
}

/**
    TODO: replace theming
    oxford blue: #02021e
    pastel pink: #efa9ae
    slate blue: #6e44ff
    iceberg blue: #deeff4
    pure white: #ffffff
    magnolia blue: #edeffc
*/

.btn.btn-outline-pastel {
  border-color: #efa9ae;
  color: #efa9ae;
}
.btn.btn-outline-pastel:hover {
  border-color: #efa9ae;
  background-color: #efa9ae;
  color: #ffffff;
}

.pricetag:before {
  border: 16px solid transparent;
  content: "";
  height: 0;
  left: 100%;
  margin-left: -16px;
  position: absolute;
  transform: scaleX(0.65);
  top: 0;
  width: 0;
  border-top-color: rgb(238, 238, 238);
}

.pricetag:after {
  border: 16px solid transparent;
  content: "";
  height: 0;
  left: 100%;
  margin-left: -16px;
  position: absolute;
  transform: scaleX(0.65);
  bottom: 0;
  width: 0;
  border-bottom-color: rgb(238, 238, 238);
}

.selected .pricetag {
  background-color: #efa9ae !important;
}

.selected .pricetag:after {
  border-bottom-color: #efa9ae !important;
}

.selected .pricetag:before {
  border-top-color: #efa9ae !important;
}

.selected {
  box-shadow: 0 0 0 2px #efa9ae !important;
}
